@model string

@{
  ViewBag.Title = "Choose Name";
  Layout = null;
}

<h2>Choose Name</h2>
@using (Html.BeginForm("Login", "ChooseName"))
{
  <input type="text" name="userName" placeholder="User name" />
  <input type="hidden" value="@Model" name="returnUrl"/>
  <input type="submit" value="Continue" />
}