<!DOCTYPE html>
<html>
<head>
    <title>Lobby</title>
</head>
  <body class="lobby">
    <div class="actions">
      <button class="tab">Join</button>
      <button class="tab">Create</button>
    </div>
    <section class="section join">
      <h1 class="title">Join</h1>
      <ul class="games">
        <li class="game"></li>
      </ul>
    </section>
    <section class="section create">
      <h1 class="title">Create</h1>
      <ul class="games">
        <li></li>
      </ul>
    </section>
  </body>
</html>