@using Cards.Lobby.GameComponents
@model Cards.Lobby.GameComponents.Game

@{
    ViewBag.Title = "title";
   
}
@Html.Partial("~/Games/"+Model.GameType+"/Game.cshtml", Model)
<h2>title</h2>
<button id="test">Klikk</button>
<ul id="msg"></ul>

<script>

    
    var gametypeHub = $.connection["@Model.GameType"];
    gametypeHub.client.messageSent = function (message) {
        $("#msg").append("<li>" + message.User + ": " + message.Message + "</li>");
    };
    
    $.connection.hub.start().done(function () {
        
        $("#test").on('click', function () {

            gametypeHub.server.sendMessage("test");

        });
    });
</script>

