<div class="lobby">
  <section class="messages">
    <p class="message">
      Players in the lobby: <em id="playerCount"></em>
    </p>
  </section>
  <header class="hi">
    <div class="actions tabs">
      <button class="action tab active" id="join_tab" data-shows="#section_join" data-hides="#section_create" data-activates="#join_tab" data-deactivates="#create_tab">Join</button>
      <button class="action tab" id="create_tab" data-shows="#section_create" data-hides="#section_join" data-activates="#create_tab" data-deactivates="#join_tab">Create</button>
    </div>
  </header>
  <section class="section join" id="section_join">
    <h1 class="title">Join</h1>
    <ul class="games" id="games">
      
    </ul>
  </section>
  <section class="section create hidden" id="section_create">
    <h1 class="title">Create</h1>
    <ul class="gametypes" id="gameTypes">
      
    </ul>
  </section>
</div>

<script src="/Frontend/Scripts/lobby.js"></script> <!-- Add minified version. Get Pelle to tell me how he wants it generated -->