<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <link rel="stylesheet" href="/Frontend/Styles/CSS/main.css" />
  <script src="/Frontend/Scripts/Libs/jquery-2.0.3.min.js"></script>
  <script src="/Frontend/Scripts/Libs/jquery.signalR-1.1.2.min.js"></script>
  <script src="@Url.Content("~/signalr/hubs")"></script>
  <script src="/Frontend/Scripts/min/main.min.js"></script>
</head>
<body>
  @RenderBody()
  @RenderSection("scripts", required: false)
</body>
</html>