@{
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="/Frontend/Styles/CSS/main.css" />
</head>
<body>
  <div class="errors">
    <section class="messages">
      <p class="message">
        Sorry, an error occurred while processing your request.
      </p>
    </section>
  </div>
</body>
</html>